:root {
	font-size: 16px;
}
// * {
// 	touch-action: none;
// }
::-webkit-scrollbar {
	display: none;
}
html {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	background-color: #0d0d0d;
	touch-action: none;
	background-repeat: no-repeat;
}
html,
body {
	padding: 0;
	margin: 0;
}
body {
	font-family: "Montserrat", sans-serif;
	color: whitesmoke;
	width: 90%;
	height: 100%;
	margin: 0;

	-webkit-font-smoothing: antialiased;
}

.navbar {
	position: fixed;
	display: block;
	background: #ae77b300;
	top: 50%;
	right: 3%;
	z-index: 10;
	padding: 10px;

	ul {
		position: fixed;
		width: 90vh;

		transform: rotate(90deg) translateX(-50%);
		transform-origin: left top;
		list-style: none;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		z-index: 10;

		.nav-link {
			flex-basis: 20vh;
			text-align: center;
			a,
			a:link {
				padding: 10px;
				text-transform: uppercase;
				text-decoration: none !important;
				z-index: 10;
				color: #fff;
				letter-spacing: 2px;
			}
			a:hover,
			a:focus,
			a:active {
				color: aqua;
				padding-bottom: 1vw;
				border-bottom: 4px dashed aqua;
			}
		}
	}
}

.FixedHeightContainer {
	height: 100%;
	width: 100%;
	position: relative;
	z-index: 5;
	touch-action: auto;
}

.Content {
	height: 94%;
	overflow-x: hidden;
	overflow-y: scroll;
	transition: 0.3s;
	z-index: 5;
	touch-action: auto;
}
a {
	text-decoration: inherit;
	color: inherit;
}
.icons {
	display: flex;
	flex-direction: row;
	width: 20vw;
	position: fixed;
	bottom: 0;
	z-index: 11;
	i {
		color: #fff;
		margin: 15px;
		transform: scale(1.8);
	}
	i:hover {
		color: rgba(255, 255, 255, 0.534);
	}
}

.container {
	height: 100%;
	width: 100%;
	padding: 4rem 0;
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
}
.profile-img {
	flex: 2;
	background-image: url(/images/monkey-no-bg.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	display: none;
	margin-right: 5vw;
	transition: background 0.5s ease-out;
	.colour-block-div {
		display: none;
	}
}
.container:nth-of-type(1):hover {
	.profile-img {
		background-image: url(/images/monkey-color-bg.png);
	}
}
.text-block {
	flex: 5;
	width: 100%;
	max-width: 1100px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
	margin-left: 1vw;
	.para {
		padding-bottom: 1rem;
		padding-right: 3rem;
		width: 90%;
		word-wrap: break-word;
	}
}

.colour-block-div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 20px;
	width: 80%;
	text-align: right;
}
.colour-block {
	height: 15px;
	flex: 1;
	background-color: darkslategray;

	margin-right: 10px;
	border-radius: 4px;
}
.small {
	flex: 1;
}
.medium {
	flex: 2;
}
.large {
	flex: 3;
}
.pink {
	background: rgb(63, 94, 251);
	background: linear-gradient(
		90deg,
		rgba(63, 94, 251, 1) 0%,
		rgba(252, 70, 107, 1) 100%
	);
}
.orange {
	background: rgb(131, 58, 180);
	background: linear-gradient(
		90deg,
		rgba(131, 58, 180, 1) 0%,
		rgba(253, 29, 29, 1) 50%,
		rgba(252, 176, 69, 1) 100%
	);
}
.blue {
	background: rgb(238, 174, 202);
	background: linear-gradient(
		90deg,
		rgba(238, 174, 202, 1) 0%,
		rgba(148, 187, 233, 1) 100%
	);
}
.green {
	background: rgb(0, 161, 117);
	background: linear-gradient(
		75deg,
		rgba(0, 161, 117, 1) 0%,
		rgba(101, 174, 255, 1) 100%
	);
}
.purple {
	background: rgb(0, 161, 117);
	background: linear-gradient(
		75deg,
		rgba(0, 161, 117, 1) 0%,
		rgba(100, 3, 161, 1) 0%,
		rgba(101, 174, 255, 1) 100%
	);
}
.transparent {
	background-color: #0d0d0d;
}
.fake-tag {
	font-family: "Unkempt", cursive;
	font-size: 1.2rem;
	margin-right: 2vw;
	font-style: italic;
}
.title {
	margin-bottom: 2vh;
	h1 {
		font-weight: 700;
		font-size: 3rem;
		margin: 1vh;
	}
}

@media (min-aspect-ratio: 12/9) and (max-aspect-ratio: 19/9) {
	html {
		background-image: url("./images/Untitled-1.png");
		background-size: cover;
		background-attachment: local;
		background-position: center;
	}

	html,
	body {
		background-color: transparent;
	}
	.navbar {
		right: 9%;
	}
	.navbar ul {
		transform: rotate(94deg) translateX(-50%);
	}
	.FixedHeightContainer {
		perspective: 1000px;
		padding-top: 14vh;
		padding-left: 12.5vw;
	}
	.Content {
		height: 67vh;

		transform: rotateX(-4deg);
	}
	.profile-img {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 80%;
		max-height: 750px;

		margin: auto 5vw auto 0;
		transform: rotate(0.2deg) translateX(-5%);
	}
	.icons {
		bottom: 15vh;
	}
}
@media (min-aspect-ratio: 13/9) and (max-aspect-ratio: 29/18) {
	.FixedHeightContainer {
		padding-top: 13vh;
	}
	.Content {
		height: 68vh;
	}
	.icons {
		bottom: 14vh;
	}
}

@media (min-aspect-ratio: 14/9) and (max-aspect-ratio: 29/18) {
	.navbar {
		right: 10%;
	}
	.FixedHeightContainer {
		padding-top: 11vh;
	}
	.Content {
		height: 73vh;
	}
	.icons {
		bottom: 12vh;
	}
}

@media (min-aspect-ratio: 28/18) and (max-aspect-ratio: 29/18) {
	.FixedHeightContainer {
		padding-top: 10vh;
	}
	.Content {
		height: 74vh;
	}
	.icons {
		bottom: 13vh;
	}
}

@media (min-aspect-ratio: 30/18) and (max-aspect-ratio: 19/9) {
	.navbar {
		right: 11%;
	}

	.FixedHeightContainer {
		padding-top: 5vh;
	}
	.Content {
		height: 83vh;
	}
	.icons {
		bottom: 7vh;
	}
}

@media (min-aspect-ratio: 36/18) and (max-aspect-ratio: 19/9) {
	.icons {
		bottom: 2vh;
	}
}
@media (max-aspect-ratio: 10/9) {
	.title > h1 {
		font-size: 2rem;
	}
	.text-block {
		margin-left: 6vw;
	}
	.FixedHeightContainer {
		max-height: 92vh;
		overflow: hidden;
	}
	.Content {
		height: 100%;
		margin: auto;
	}
}
